<li class="ks-item {% if message.author != user %}ks-self{% else %}ks-from{% endif %}">
    <span class="ks-avatar {% if message.author != user %}ks-online{% else %}ks-offline{% endif %}">
        <img src="{{ message.author.profile.url }}" width="36" height="36" class="rounded-circle">
    </span>
    <div class="ks-body">
        <div class="ks-header">
            <span class="ks-name">{{ message.author }}</span>
            <span class="ks-datetime">{{ message.created|date:"H:i" }}</span>
        </div>
        <div class="ks-message">{{ message.body }}</div>
    </div>
</li>