asgiref
attrs
autobahn
Automat
beautifulsoup4
certifi
cffi
channels
channels-redis
charset-normalizer
constantly
crispy-bootstrap5
cryptography
daphne
Django
django-allauth
django-bootstrap-v5
django-cleanup
django-crispy-forms
django-htmx
h11
hyperlink
idna
incremental
msgpack
oauthlib
outcome
pillow
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
PySocks
redis
requests
requests-oauthlib
selenium
service-identity
setuptools
shortuuid
six
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
Twisted
txaio
typing_extensions
urllib3
websocket-client
wsproto
zope.interface
